* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

.dangky {
    box-shadow: 1px 2px 3px 4px rgb(49, 49, 49);
    background-color: #eaeaea;
    border-radius: 20px;
    width: 650px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.dangky h2 {
    text-align: center;
    font-size: 25px;
}

.dangky p {
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 5px;
}

.dangky .error{
    margin: 5px 10px;
    display: flex;
    font-size: 15px;
    color: red;
}

.dangky input[type="text"],
input[type="password"] {
    border-radius: 40px;
    width: 250px;
    height: 18px;
    font-size: 16px;
    padding: 5px 5px 5px 10px;
    font-weight: 500;
    border: 3px solid black;
    outline: none;
}

.dangky input[type="file"] {
    margin-left: 20px;
}
.dangky input[type="submit"] {
    width: 400px;
    height: 30px;
    border-radius: 20px;
    margin: 15px;
    color: papayawhip;
    background-color: red;
    font-weight: bolder;
    border: none;
    font-size: 16px;
    transition: 0.3s;
}

.dangky input[type="submit"]:hover {
    background-color: rosybrown;
    color: black;
}

.dangky #dangkytk {
    text-align: center;
}

.dangky #dangkytk span a {
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
}

.dangky #dangkytk span a:hover {
    color: rgb(255, 0, 0);
}

#fromdangky{
    display: flex;
}

#fromdangky_trai, #fromdangky_phai{
    margin: 10px 10px;
}